
@{
    ViewBag.Title = "EmployeeSalaryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<section role="main" class="content-body">
    
    <header class="page-header">
        <h2>Employee Manual Salary Configure </h2>
    </header>
    <!-- start: page -->
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <button id="" onclick="BacktoEmpList();" class="mb-sm mt-xs mr-xs  btn btn-sm btn-default text-sm text-weight-semibold"><i class="text-tertiary fa fa-arrow-circle-left  ml-lg"></i>Back</button>
            </div>
            <h2 class="panel-title">Employee Manual Salary Configure</h2>
        </header>
        <div class="modal-body">
            <form>
                <div class="row">
                    <input type="hidden" id="hdnEmpId" value="0" />
                    <input type="hidden" value="0" id="hdnid" />
                    <div class="col-md-12 clearfix-height20">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">PayGroup Name <span class="required">*</span></label>
                                <div class="input-group btn-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-cab"></i>
                                    </span>
                                    <select id="ddlPaygroup" class="form-control" name="Model.PaymentTerm" value="0" onchange="return loadmanualSalarydata(this.value)"></select>
                                </div>
                                <span id="msgPayConfigName" class="ms-error" style="color:red;"></span>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            @*<div class="form-group">
                        <label for="tchkactive"></label>
                        <div class="row" style="margin-left: 0px;">
                            <label class="checkbox-inline label-design" style="font-size: 16px;float: left;">

                                <input type="checkbox" class="form-control" style="height: 20px;width: 20px;" value="" id="ChkPtax">
                            </label>
                        </div>
                    </div>*@
                        @*</div>
                    </div>
                </div>*@
               
               
                    @*<div class="col-md-12">
                        <input type="hidden" id="hdndata" value="0" />
                        <div id="DynamicmanualData">

                        </div>
                    </div>*@
               

            @*</form>
        </div>
        <div class="modal-footer"  style="text-align:center;">
            <button type="button" id="btnEmpSalDtls" class="btn btn-tertiary" onclick="return SaveEmpSalary();">
                <i class="fa fa-plus-square space-right"></i> Save
            </button>
        </div>

        <div id="progress" style="display:none;">
            <div class="col-md-12 text-center">
                <img src="~/Contents/images/ajax-loader.gif" />
            </div>
        </div>

        
    </section>
    <!-- end: page -->
</section>*@



<section role="main" class="content-body">
    <header class="page-header">
       
    </header>
    <section class="panel" style="position:relative;">
        <header class="panel-heading">
            <h2 class="panel-title">Employee Manual Salary Configure</h2>
            <div class="panel-actions">
                <button id="" onclick="BacktoEmpList();" class="mb-sm mt-xs mr-xs  btn btn-sm btn-default text-sm text-weight-semibold"><i class="text-tertiary fa fa-arrow-circle-left  ml-lg"></i>Back</button>
            </div>
        </header>
        <div class="panel-body">
            <form role="form">
                <div class="box-body">


                    <div class="col-md-12">


                    <div class="col-sm-6" style="margin-left:0px;">
                        <div class="form-group">
                            <input type="hidden" id="hdnEmpId" value="0" />
                            <label class="label-design" for="Status">PayGroup Name</label>
                            <div class="input-group btn-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-cab"></i>
                                </span>
                                <select id="ddlPaygroup" class="form-control" name="Model.PaymentTerm" value="0" onchange="return loadmanualSalarydata(this.value)"></select>
                            </div>
                            <span id="msgPayConfigName" class="ms-error" style="color:red;"></span>

                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label class="label-design"></label>
                        <div>
                            <label class="checkbox-inline">

                                <input type="checkbox" id="txtPTAXstatus" checked="checked" style="height:20px;width:20px;">&nbsp; &nbsp;&nbsp;
                                DeductPTAX
                            </label>
                        </div>
                    </div>

                </div>

                    <div class="col-md-12">
                    <div class="col-sm-12" style="margin-left:0px;">
                        <div class="form-group">

                            <label class="label-design" for="Status">Continuous Attendance Allowance</label>
                            <input type="text" id="txtContinuousAllowance" class="form-control" />

                        </div>
                    </div>

                    @*<div class="col-sm-6">

                        <div class="form-group">

                            <label class="label-design" for="Status">Production Bonus</label>
                            <input type="text" id="txtProductionBonus" class="form-control" />

                        </div>
                    </div>*@

                       </div>
                    @*<div class="col-md-6">
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label">Deduct PTAX</label>
                    <div class="">

                        <input type="checkbox" class="form-control" id="txtPTAXstatus" checked="checked" />

                    </div>

                </div>
            </div>
        </div>*@





                    @*</div>*@
                    <div class="col-md-12"></div>
                    <input type="hidden" id="hdndata" value="0" />
                    <div id="DynamicmanualData">

                    </div>
                </div>
                    <div class="box-footer" style="text-align:center;margin-top:10px; ">
                        <div class="col-md-12">
                            @*<a href="#" onclick="Save()" class="btn btn-primary" id="btnSave" style="margin:10px;">Add</a>*@
                            <button type="button" id="btnEmpSalDtls" class="btn btn-tertiary" onclick="return SaveEmpSalary();"style="margin:10px;">
                                <i class="fa fa-plus-square space-right"></i> Save
                            </button>
                            @*<a href="#" onclick="Save()" class="btn btn-primary" id="btnUpdate" style="display:none;margin:10px;">Update</a>*@
                        </div>
                    </div>
</form>
        </div>
    </section>
</section>
    
<script>
    $(document).ready(function () {
        loadPaygroup();
        //loaddata();

    });
    
</script>
<script>
    var qsparam = new Array(10);
    //qsparam.splice(0, 10);
    var query = window.location.search.substring(1);
    var parms = query.split('&&');
    for (var i = 0; i < parms.length; i++) {
        var pos = parms[i].indexOf('=');
        if (pos > 0) {
            var key = parms[i].substring(0, pos);
            var val = parms[i].substring(pos + 1);
            qsparam[i] = val;
        }
    }
   
    function loadPaygroup() {

        $.ajax({
            type: "POST",
            url: "/ConfigureSalaryComponent/GetPayGroup",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                //
                $.each(response, function () {
                    $("#ddlPaygroup").append($("<option></option>").val(this['Value']).html(this['Text']));
                });
                $("#hdnEmpId").val(qsparam[0]);
                $("#ddlPaygroup").val(qsparam[1]);
                loadmanualSalarydata($("#ddlPaygroup").val());
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

        
    }




    function BacktoEmpList() {
        

        window.location.href = "/EmployeeList/Index?SearchValue=" + qsparam[2] + "";
    }


</script>
<script>
    function loadmanualSalarydata(PayGroupId) {
        var id = 0;
        var ID = 0;
        
        var jq = jQuery.noConflict();
        var PayGroupID = PayGroupId;
        if (PayGroupID > 0) {
            jq.ajax({
                type: "POST",
                url: '/ConfigureSalaryComponent/GetManualConfigureSalary',
                data: { "PayGroupID": PayGroupID },
                datatype: JSON,
                success: function (response) {
                    
                    RecordLength = response.length;

                    $("#DynamicmanualData").empty();

                    for (ID; ID < RecordLength; ID++) {
                        if (response[ID].ISActive == true) {
                            var newrow =
                                '<div id="div_' + id + '">' +
                                '<div class="col-sm-6">' +
                                '<div class="form-group abc">' +
                                '<label id="lblManuals_' + id + '">' + response[ID].PayConfigName + '</label>' +

                                '<input type="text" class="form-control" id="txt_' + response[ID].ManualPayConfigId + '" />' +
                                '<input type="hidden" id="hdnManual_' + id + '" value="' + response[ID].ManualPayConfigId + '" />' +
                                '<span class="field-validation-error" id="errorStatus" style="color: Red;"></span>' +

                                '</div>' + '</div>' +



                                '</div>';

                            $("#DynamicmanualData").append(newrow);
                            document.getElementById('hdndata').value = id + 1;
                            id++;
                        }
                    }
                    //loadsalarydata();
                    loaddata();

                },
                error: function (er) {

                    console.log(er);
                }
            });
        }

    }
</script>

<script>

    function loaddata() {
        
        //var query = window.location.search.substring(1);

        var Empid = $("#hdnEmpId").val();
        var PayGroupId = $("#ddlPaygroup").val();
        $.ajax({
            type: "POST",
            url: "/EmployeeList/GetEmployeeSalaryDetails",
            data: { "Empid": Empid },
            dataType: "json",
            success: function (response) {
                
                if (response.length > 0) {
                    $("#txtPTAXstatus").prop("checked", response[0].IsPTaxActive);
                    $("#txtContinuousAllowance").val(response[0].ContinuousAllowance);
                    $("#txtProductionBonus").val(response[0].ProductionBonus);
                }
                $.each(response, function (index, value) {

                    $("#txt_" + value.PayConfigID + "").val(value.Values);

                });
                //$("#hdnEmpId").val(response[0].Id);

                //$("#ddlPaygroup").val(response[0].PayGroupId);
                //loadmanualSalarydata(response[0].PayGroupId);

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>



<script>
    function SaveEmpSalary() {
        //var query = window.location.search.substring(1);
        //var parms = query.indexOf('=');
        //var Empid = query.substring(parms + 1);
        //var Id = $("#hdnEmpId").val();
        //var empid = Empid;
        //var basic = $("#txtBASIC").val();
        //var paygroup = $("#ddlPaygroup").val();
        //var GrossAmount = $("#txtGROSSAMOUNT").val();
        //var Internet = $("#txtINTERNETALLOWANCE").val();
        //var Mobile = $("#txtMOBILEALLOWANCE").val();
        //var Continuous = $("#txtCONTINOUSALLOWANCE").val();
        var PayGroupId = $("#ddlPaygroup").val();
        var Id = $("#hdnid").val();
        var EmpId = $("#hdnEmpId").val();
        var IsPTaxActive = $("#txtPTAXstatus").is(":checked");
        var ContinuousAllowance = $("#txtContinuousAllowance").val();
        var ProductionBonus = $("#txtProductionBonus").val();
        
        //var relength = ManualSalarylist.length;
        var model = {
            Id: Id, EmpId: EmpId, PayGroupId: PayGroupId, "IsPTaxActive": IsPTaxActive
        }

        $.ajax({
            type: "POST",
            url: '/EmployeeList/SaveEmployeeSalary',
            data: {
                "Id": Id, "EmpId": EmpId, "PayGroupId": PayGroupId, "IsPTaxActive": IsPTaxActive, "ContinuousAllowance": ContinuousAllowance, "ProductionBonus": ProductionBonus},
            //datatype: "JSON",
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                
                if (data>0) {
                    SaveEmployeeManualSalaryValue(data)
                    //swal({
                    //    title: "Success!",
                    //    text: "Employee Salary has been Added Successfully!",
                    //    type: "success"
                    //}).then(function () {
                    //    window.location.href = "/EmployeeList";
                    //});
                }


            },
            error: function (er) {
                console.log(er);
            }
        });

        
    }

    function SaveEmployeeManualSalaryValue(EmployeeSalaryConfigid) {
        var ManualSalarylist = new Array();
        var PayConfigID = [];
        var Values = [];
        var SalaryConfiglist = {};
        var i = 0;
        
        $("#DynamicmanualData .abc").each(function () {
            
            
            if ($('#div_' + i + '').length > 0) {
                
                var ManualPayConfigId = $("#hdnManual_" + i + "").val();
                var manualValue = $("#txt_" + ManualPayConfigId + "").val();
                PayConfigID.push(ManualPayConfigId);
                Values.push(manualValue);
                //SalaryConfiglist.EmployeeSalaryConfigid = EmployeeSalaryConfigid;
               
                //SalaryConfiglist.PayConfigID = ManualPayConfigId;
                //SalaryConfiglist.Values = $("#txt_" + ManualPayConfigId + "").val();
                //ManualSalarylist.push(SalaryConfiglist);

            }
            else {
                var x = 1;
            }

            i++;

        });
        
        SalaryConfiglist.EmployeeSalaryConfigid = EmployeeSalaryConfigid;

        SalaryConfiglist.PayConfigID = PayConfigID;
        SalaryConfiglist.Values = Values;
        ManualSalarylist.push(SalaryConfiglist);

        $.ajax({

            url: '/EmployeeList/SaveEmployeeManualSalary',
            type: 'POST',
            data: function () {
                var data = new FormData();
                data.append("modelParameter", Values);
                data.append("PayConfigID", PayConfigID);
                data.append("EmployeeSalaryConfigid", EmployeeSalaryConfigid);
                return data;
            }(),
            contentType: false,
            processData: false,
            success: function (data) {
                //
                if (data != "0") {

                    swal({
                        title: "Success!",
                        text: "Employee Salary has been Added Successfully!",
                        type: "success"
                    }).then(function () {
                        window.location.href = "/EmployeeList";
                    });

                }


            },
            error: function (er) {
                console.log(er);
            }
        });

        //return false;
        //$.ajax({
        //    type: "POST",
        //    url: '/EmployeeList/SaveEmployeeManualSalary',           
        //    data: JSON.stringify({ 'ManualSalarylist': ManualSalarylist }),
        //    datatype: "JSON",
        //    contentType: 'application/json; charset=utf-8',
        //    success: function (data) {
        //        
        //        if (data == "Saved Successfully") {

        //            swal({
        //                title: "Success!",
        //                text: "Employee Salary has been Added Successfully!",
        //                type: "success"
        //            }).then(function () {
        //                window.location.href = "/EmployeeList";
        //            });
        //        }


        //    },
        //    error: function (er) {
        //        console.log(er);
        //    }
        //});
    }
</script>


@*<script>
    function loadsalarydata() {
        var qsparam = new Array(10);
        var query = window.location.search.substring(1);
        var parms = query.split('&&');
        for (var i = 0; i < parms.length; i++) {
            var pos = parms[i].indexOf('=');
            if (pos > 0) {
                var key = parms[i].substring(0, pos);
                var val = parms[i].substring(pos + 1);
                qsparam[i] = val;
            }
        }
        $.ajax({
            type: "POST",
            url: "/EmployeeList/GetEmployeeSalaryDetails",
            data: { "Empid": qsparam[0] },

            dataType: "json",
            success: function (response) {
                
                $("#txtBASIC").val(response[0].Basic);
                //$("#txtGROSSAMOUNT").val(response[0].GrossAmount);
                //$("#txtINTERNETALLOWANCE").val(response[0].InternetAllowance);
                //$("#txtMOBILEALLOWANCE").val(response[0].MobileAllowance);
                //$("#txtCONTINOUSALLOWANCE").val(response[0].ContinuousAllowance);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });


    }


</script>*@