
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal fade modal-header-color zoom-anim-dialog" id="payConfig" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <section class="">
                <header class="panel-heading bg-tertiary">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="panel-title  text-white">Dashboard</h2>
                </header>
            </section>

        </div>
    </div>
</div>

