
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <section role="main" class="content-body">
        <section class="panel">
            <header class="panel-heading mb-5">
                <h2 class="panel-title">Employee Loan Process</h2>
            </header>
            <div class="panel-body listpanel">
                <div class="form-group row">
                    <div class="col-md-2">
                        <label>Year </label>
                    </div>
                    <div class="col-md-4">
                        <select id="ddlYear" class="form-control form-control-sm" disabled></select>
                    </div>
                    <div class="col-md-2">
                        <label>Month</label>
                    </div>
                    <div class="col-md-4">
                        <select id="ddlMonth" class="form-control form-control-sm" disabled>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label>Employee</label>
                    </div>
                    <div class="col-md-4">
                        <select id="ddlEmployee" class="form-control form-control-sm"></select>
                    </div>
                    <div class="col-md-6 text-right">
                        <button id="btnShow" class="mb-sm mr-xs btn btn-sm btn-tertiary text-sm text-weight-semibold">Show</button>
                        <button id="btnProcess" class="mb-sm mr-xs btn btn-sm btn-tertiary text-sm text-weight-semibold">Process</button>
                        <input type="checkbox" id="chkAll" style="display:none" /><label>Check All</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 mb-2">
                        <table id="tblLoanProcess" class="table table-sm  small">
                            <thead>
                                <tr>
                                    <th style="width:8%">Code</th>
                                    <th style="width:40%">Name</th>
                                    <th style="width:10%">Loan Date</th>
                                    <th style="width:12%">Loan No</th>
                                    <th style="width:10%">Ins Month</th>
                                    <th style="width:8%">Ins Year</th>
                                    <th style="width:10%">Ins Amount</th>
                                    <th style="width:5%">Process</th>
                                </tr>
                            </thead>
                            <tbody id="LoanProcessBody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mt-5" style="display:none">
                    <table class="table table-responsive mb-none" id="tblLoanDetails">
                        <thead>
                            <tr>
                                <th><i class="fa fa-credit-card text-muted space-right"></i>Loan Date</th>
                                <th><i class="fa fa-credit-card text-muted space-right"></i>Loan No</th>
                                <th><i class="fa fa-credit-card text-muted space-right"></i>Employee Name</th>
                                <th><i class="fa fa-credit-card text-muted space-right"></i>Loan Type</th>
                                <th><i class="fa fa-credit-card text-muted space-right"></i>Loan Amount</th>
                                <th><i class="fa fa-credit-card text-muted space-right"></i>Received Amount</th>
                                <th><i class="fa fa-credit-card text-muted space-right"></i>Closing Amount</th>
                                <th><i class="fa fa-credit-card text-muted space-right"></i>Status</th>
                                <th><i class="fa fa-credit-card text-muted space-right"></i>Action</th>
                            </tr>
                        </thead>
                        <tbody id="listEmployeeLoanList">
                        </tbody>
                    </table>
                </div>

            </div>
        </section>
    </section>

    <!--Modal Employee Loan Details-->
    <div class="modal" tabindex="-1" role="dialog" id="modalEmpLoanDtls">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title bold" id="modalTitle"></h4>
                    <input type="hidden" id="hdIDLoan" />
                </div>
                <div class="modal-body">
                    <div class="from-group row mb-2">
                        <div class="col-md-12">
                            <div style="min-height:400px;overflow-y:auto">
                                <table id="tblModalLoanDetails" class="table table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th class="small">SRL</th>
                                            <th class="small" style="display:none">ID Detail</th>
                                            <th class="small" style="width:10%">OP Amount</th>
                                            <th class="small" style="width:10%">Installment</th>
                                            <th class="small" style="width:10%">Interest</th>
                                            <th class="small" style="width:10%">CL Amount</th>
                                            <th class="small" style="width:10%">Ins Month</th>
                                            <th class="small" style="width:10%">Ins Year</th>
                                            <th class="small" style="width:10%">Loan Processed</th>
                                            <th class="small" style="width:10%">Processed Date</th>
                                            <th class="small" style="width:10%">Received</th>
                                            <th class="small" style="width:10%">Salary Processed</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblModalLoanDetailsBody" style="border-top: 1px solid currentColor"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="from-group row mt-3">
                        <div class="col-md-12">
                            <h4 class="bold">Revised Loan Installment </h4>
                        </div>
                    </div>
                    <div class="from-group row mt-3 pl-2">
                        <div class="col-md-1"><label>Amount </label></div>
                        <div class="col-md-2"><input type="number" id="txtInsAmount" class="form-control form-control" /></div>
                        <div class="col-md-1"><label>Month</label></div>
                        <div class="col-md-2">
                            <select id="ddlMonth" class="form-control form-control-sm"></select>
                        </div>
                        <div class="col-md-1"><label>Year </label></div>
                        <div class="col-md-2">
                            <select id="ddlYear" class="form-control form-control-sm"></select>
                        </div>

                        <div class="col-md-3"><button type="button" class="btn btn-warning" id="btnChangeLoan">Change Loan</button></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/ProjectJS/LoanProcess.js"></script>
