@model MendinePayroll.Models.LoanTransactionModel
@{
    ViewBag.Title = "EmployeeLoanDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section role="main" class="content-body">

    <header class="page-header">
        <h2>
            Employee Loan Configure and History
        </h2>
    </header>
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">

                <button id="" onclick="BacktoMain();" class="mb-sm mt-xs mr-xs  btn btn-sm btn-default text-sm text-weight-semibold"><i class="text-tertiary fa fa-arrow-circle-left  ml-lg"></i>Back</button>
            </div>
            <h2 class="panel-title">Employee Loan Configure</h2>
        </header>
        <!-- start: page -->

        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col-md-12 clearfix-height20"></div>
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <label class="control-label">Employee Name <span class="required">*</span></label>
                            <div class="input-group btn-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="text" class="form-control" id="txtEmpname" readonly="readonly">
                                <input type="hidden" class="form-control" id="hdnEmpId" value="0">
                            </div>
                            <span id="msgPayGroupNameedit" class="ms-error" style="color:red;"></span>

                        </div>
                    </div>
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <label class="control-label">Employee Code<span class="required">*</span></label>
                            <div class="input-group btn-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-qrcode"></i>
                                </span>
                                <input type="text" class="form-control" id="txtempCode" readonly="readonly">
                            </div>
                            <span id="msgDescriptionedit" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="col-md-12 clearfix-height20"></div>
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <label class="control-label">UAN NO <span class="required">*</span></label>
                            <div class="input-group btn-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-bank"></i>
                                </span>
                                <input type="text" class="form-control" id="txtUanno">

                            </div>
                            <span id="msgMastercodeeedit" class="ms-error" style="color:red;"></span>
                        </div>
                    </div>

                    <div class='col-sm-6'>
                        <div class="form-group">
                            <label class="control-label">Department <span class="required">*</span></label>
                            <div class="input-group btn-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-building-o"></i>
                                </span>
                                <input type="text" class="form-control" id="txtDept" readonly="readonly">
                            </div>
                            <span id="msgConcernHRPersonneledit" style="color:red;"></span>

                        </div>
                    </div>


                </div>
                <div class="col-md-12 clearfix-height20"></div>
                <div class='col-sm-4'>
                    <div class="form-group">
                        <label class="control-label">Loan Amount<span class="required">*</span></label>
                        <div class="input-group btn-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <input type="text" class="form-control" id="txtloanamt" />
                        </div>
                        <span id="msgPayConfigTypeedit" style="color:red;"></span>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class="form-group">
                        <label class="control-label">Monthly Installment <span class="required">*</span></label>
                        <div class="input-group btn-group">
                            <span class="input-group-addon">
                                <i class="fa fa-inr"></i>
                            </span>
                            <input type="text" class="form-control" id="txtmonthlyamt" onchange="return GetMonth();" />
                        </div>
                        <span id="msgPayConfigNameedit" class="ms-error" style="color:red;"></span>

                    </div>

                </div>


                <div class='col-sm-4'>
                    <div class="form-group">
                        <label class="control-label">Loan deduct <span class="required">*</span></label>
                        <div class="">

                            <input type="checkbox" class="form-control" id="txtstatus" />

                        </div>
                      
                    </div>

                </div>

            </form>
        </div>
        <div class="modal-footer" style="text-align:center;">
            <button type="button" id="btnEmpSalDtls" class="btn btn-tertiary" onclick="return SaveEmpLoan();">
                <i class="fa fa-plus-square space-right"></i> Save
            </button>
        </div>

        <div id="progress" style="display:none;">
            <div class="col-md-12 text-center">
                <img src="~/Contents/images/ajax-loader.gif" />
            </div>
        </div>

       
        <header class="panel-heading">
           
            <h2 class="panel-title">Employee Loan History</h2>
        </header>
        <div class="panel-body">

            
            <table class="table table-responsive mb-none" id="users">
                <thead>
                    <tr>

                        <th><i class="fa fa-credit-card text-muted space-right"></i>Transaction Date</th>
                        <th><i class="fa fa-credit-card text-muted space-right"></i>Opening Balance</th>
                        <th><i class="fa fa-credit-card text-muted space-right"></i>Installment Amount</th>
                        <th><i class="fa fa-credit-card text-muted space-right"></i>Closing Balance</th>
                    </tr>
                </thead>
                <tbody id="listVehicle">
                    @foreach (var item in Model.LoanList)
                    {

                        <tr class="gradeX">

                            <td>
                                @Convert.ToDateTime(item.DateOfInStallment).ToString("dd / MM / yyyy")
                            <td>
                                @item.OpeningBalance
                            </td>
                            <td>
                                @item.InstallmentAmount
                            </td>
                            <td>
                                @item.ClosingBalance
                            </td>


                        </tr>
                    }

                </tbody>
            </table>

        </div>


    </section>

    <!-- end: page -->
</section>
<script>
    var qsparam = new Array(10);
    var query = window.location.search.substring(1);
    var parms = query.split('&&');

    for (var i = 0; i < parms.length; i++) {
        var pos = parms[i].indexOf('=');
        if (pos > 0) {
            var key = parms[i].substring(0, pos);
            var val = parms[i].substring(pos + 1);
            qsparam[i] = val;
        }
    }
    $(document).ready(function () {
        
        var jq = jQuery.noConflict();
        jq.ajax({
            type: "POST",
            url: '/EmployeeList/GetEmployeebyid',
            data: { "Empid": qsparam[0] },
            datatype: JSON,
            success: function (response) {
                
                var RecordLength = response.length;
                if (RecordLength > 0) {
                    jq("#txtEmpname").val(response[0].EmployeeName);
                    jq("#txtempCode").val(response[0].empcode);
                    jq("#txtDept").val(response[0].Department);
                }
                loaddata();
            },
            error: function (er) {

                console.log(er);
            }
        });

    });
    function BacktoMain() {
        window.location.href = "/EmployeeList?SearchValue=" + qsparam[1] + "";
    }
</script>
<script>
    function loaddata() {
        
        var query = window.location.search.substring(1);
        var parms = query.indexOf('=');
        var Empid = query.substring(parms + 1);
        $.ajax({
            type: "POST",
            url: "/EmployeeList/GetEmployeeLoanDetails",
            data: { "Empid": Empid },

            dataType: "json",
            success: function (response) {
                
                $("#hdnEmpId").val(response[0].LoanId);
                $("#txtloanamt").val(response[0].LoanAmount);
                $("#txtmonthlyamt").val(response[0].MonthlyInstallment);

                $("#txtstatus").prop("checked", response[0].IsStart);

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });


    }


</script>
<script>
    function SaveEmpLoan() {
        
        var query = window.location.search.substring(1);
        var parms = query.indexOf('=');
        var Empid = query.substring(parms + 1);
        
        var Id = $("#hdnEmpId").val();
        var empid = Empid;
        var LoanAmount = $("#txtloanamt").val();
        var MonthlyInstallment = $("#txtmonthlyamt").val();
        var isChecked = $("#txtstatus").is(":checked");

        $.ajax({
            type: "POST",
            url: '/EmployeeList/SaveEmployeeLoan',
            data: {
                "Id": Id, "Empid": empid, "LoanAmount": LoanAmount, "MonthlyInstallment": MonthlyInstallment, "TimePeriod": isChecked
            },
            datatype: "JSON",
            success: function (data) {
                

                if (data == "Saved Successfully") {

                    swal({
                        title: "Success!",
                        text: "Employee Salary has been Added Successfully!",
                        type: "success"
                    }).then(function () {
                        window.location.href = "/EmployeeList";
                    });
                }


            },
            error: function (er) {
                console.log(er);
            }
        });
    }
</script>
<script>
    function saveloan(data, Empid) {
        var empid = Empid;
        var LoanAmount = $("#txtloanamt").val();
        var MonthlyInstallment = $("#txtmonthlyamt").val();
        $.ajax({
            type: "POST",
            url: '/EmployeeList/SaveEmployeeLoanTransaction',
            data: {
                "Id": data, "Empid": empid, "LoanAmount": LoanAmount, "MonthlyInstallment": MonthlyInstallment
            },
            datatype: "JSON",
            success: function (data) {
                

                if (data == "Saved Successfully") {

                    swal({
                        title: "Success!",
                        text: "Loan has been Added Successfully!",
                        type: "success"
                    }).then(function () {
                        window.location.href = "/EmployeeList";
                    });
                }


            },
            error: function (er) {
                console.log(er);
            }
        });
    }
</script>
<script>
    function GetMonth() {
        var LoanAmount = $("#txtloanamt").val();
        var MonthlyInstallment = $("#txtmonthlyamt").val();
        var calmonth = parseFloat(LoanAmount) / parseFloat(MonthlyInstallment);
        $("#txttimeperiod").val(calmonth);
    }
    function GetMonthInstall() {
        var LoanAmount = $("#txtloanamt").val();
        var TimePeriod = $("#txttimeperiod").val();
        var calmonth = parseFloat(LoanAmount) / parseFloat(TimePeriod);
        $("#txtmonthlyamt").val(calmonth);
    }
</script>



