.table-new > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}


/*body {
}

.tableclass {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #000000;
}

.imgclass {
    height: 40px;
    width: 40px;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

.newtable {
    width: 80%;
}

table tr {
    height: 30px;
}*/
